n8n/workflows/moe.json
{
  "id": "dev-pipeline-moe",
  "name": "dev-pipeline: Moe (develop)",
  "nodes": [
    {
      "id": "schedule",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 0],
      "typeVersion": 1.2,
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 15}]
        }
      }
    },
    {
      "id": "auth",
      "name": "Calvinball Auth",
      "type": "n8n-nodes-base.executeCommand",
      "position": [220, 0],
      "typeVersion": 1,
      "parameters": {
        "command": "CID=$(security find-generic-password -s calvinball-mcp -a client-id -w) && CSEC=$(security find-generic-password -s calvinball-mcp -a client-secret -w) && curl -sf -X POST https://calvinball.mikebronner.dev/oauth/token -d grant_type=client_credentials -d client_id=$CID -d client_secret=$CSEC | jq -r .access_token"
      }
    },
    {
      "id": "poll",
      "name": "Poll Calvinball",
      "type": "n8n-nodes-base.httpRequest",
      "position": [440, 0],
      "typeVersion": 4.2,
      "parameters": {
        "url": "https://calvinball.mikebronner.dev/api/project-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.stdout }}"}
          ]
        }
      }
    },
    {
      "id": "filter",
      "name": "Filter Ready/In Progress",
      "type": "n8n-nodes-base.code",
      "position": [660, 0],
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const items = $input.first().json.data.items;\nconst actionable = items.filter(item => item.status === 'In Progress' || item.status === 'Ready');\nif (actionable.length === 0) return [];\n// Prioritize: In Progress first, then by priority descending\nactionable.sort((a, b) => {\n  if (a.status === 'In Progress' && b.status !== 'In Progress') return -1;\n  if (b.status === 'In Progress' && a.status !== 'In Progress') return 1;\n  return (b.meta?.priority || 0) - (a.meta?.priority || 0);\n});\n// Take only the first item (Moe handles one at a time)\nreturn [{ json: { item: actionable[0], project_fields: $input.first().json.data.project_fields } }];"
      }
    },
    {
      "id": "lock-check",
      "name": "Check Moe lock",
      "type": "n8n-nodes-base.executeCommand",
      "position": [880, 0],
      "typeVersion": 1,
      "parameters": {
        "command": "LOCK=/tmp/moe.lock; if [ -f \"$LOCK\" ] && kill -0 \"$(cat \"$LOCK\")\" 2>/dev/null; then echo busy; else echo free; fi"
      }
    },
    {
      "id": "lock-gate",
      "name": "Moe free?",
      "type": "n8n-nodes-base.if",
      "position": [1100, 0],
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "lock-free",
              "leftValue": "={{ $json.stdout.trim() }}",
              "rightValue": "free",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "dispatch",
      "name": "Dispatch Moe",
      "type": "n8n-nodes-base.executeCommand",
      "position": [1320, 0],
      "typeVersion": 1,
      "parameters": {
        "command": "=LOCK=/tmp/moe.lock && echo $$ > \"$LOCK\" && trap 'rm -f $LOCK' EXIT && LOG=$HOME/.n8n/logs/moe-$(date -u +%Y%m%dT%H%M%SZ).log && mkdir -p $HOME/.n8n/logs && WORKBENCH_SKIP_WARMUP=1 WORKBENCH_SKIP_LOG=1 claude -p --agent dev-pipeline:moe --model opus --dangerously-skip-permissions --no-session-persistence --max-budget-usd 5.00 \"Process this Calvinball work item: {{ JSON.stringify($json) }}\" 2>&1 | tee \"$LOG\""
      }
    }
  ],
  "connections": {
    "Every 15 min": {"main": [[{"node": "Calvinball Auth", "type": "main", "index": 0}]]},
    "Calvinball Auth": {"main": [[{"node": "Poll Calvinball", "type": "main", "index": 0}]]},
    "Poll Calvinball": {"main": [[{"node": "Filter Ready/In Progress", "type": "main", "index": 0}]]},
    "Filter Ready/In Progress": {"main": [[{"node": "Check Moe lock", "type": "main", "index": 0}]]},
    "Check Moe lock": {"main": [[{"node": "Moe free?", "type": "main", "index": 0}]]},
    "Moe free?": {"main": [[{"node": "Dispatch Moe", "type": "main", "index": 0}], []]},
    "Dispatch Moe": {"main": [[]]}
  },
  "settings": {"executionOrder": "v1"},
  "active": false
}
