n8n/workflows/orchestrator.json
[{"updatedAt":"2026-04-10T20:46:36.278Z","createdAt":"2026-04-10T19:16:48.800Z","id":"qXakRzjHnp1P28X5","name":"dev-pipeline: Agent Orchestrator","description":"Polls Calvinball every 15 min via OAuth2. Code nodes filter and gate (no IF nodes). Dispatches via SSH: Wormwood (Haiku), Tracer (Sonnet), Moe (Opus). Zero tokens when idle.","active":false,"isArchived":false,"nodes":[{"id":"bf7397b6-46ea-4d44-ac6b-bc3277a194c6","name":"Every 15 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}}},{"id":"1be602ba-ac51-48bf-b4d9-21fad3485af9","name":"Poll Calvinball","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[220,300],"parameters":{"method":"GET","url":"https://calvinball.mikebronner.dev/api/project-items","authentication":"genericCredentialType","genericAuthType":"oAuth2Api"},"credentials":{"oAuth2Api":{"id":"calvinball-oauth2","name":"Calvinball OAuth2"}}},{"id":"6377b6e9-a0f8-4b0e-a6ca-c9b2be925e14","name":"Gate: Wormwood","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,100],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const data = $input.first().json.data;\nif (!data || !data.items) return [];\nconst wormwood = data.items.filter(function(item) {\n  if (!item.status) return true;\n  if (item.status !== 'Backlog') return false;\n  var nonStatus = (item.meta && item.meta.field_changes || []).filter(function(fc) { return fc.field !== 'Status'; });\n  return nonStatus.length === 0;\n});\nif (wormwood.length === 0) return [];\nreturn [{ json: {\n  payload: JSON.stringify({ items: wormwood, project_fields: data.project_fields }),\n  claudeToken: $env.CLAUDE_CODE_OAUTH_TOKEN || '',\n  ghToken: $env.GH_TOKEN || ''\n} }];"}},{"id":"400bf724-ce98-4c19-b3e0-8bb668a812c1","name":"Check Wormwood Lock","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[680,100],"parameters":{"resource":"command","operation":"execute","authentication":"privateKey","command":"test -f /tmp/wormwood.lock && kill -0 $(cat /tmp/wormwood.lock) 2>/dev/null && echo busy || echo free","cwd":"/tmp"},"credentials":{"sshPrivateKey":{"id":"local-ssh","name":"Local SSH"}}},{"id":"4b9d2abc-7496-462b-a484-91b759c32e67","name":"Gate: Wormwood Free?","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,100],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var stdout = $input.first().json.stdout;\nif (stdout && stdout.trim() === 'busy') return [];\nvar gate = $('Gate: Wormwood').first().json;\nreturn [{ json: gate }];"}},{"id":"6ca4020f-e9da-4f87-b8e6-1daef28a2b71","name":"Dispatch Wormwood (Haiku)","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1120,100],"parameters":{"resource":"command","operation":"execute","authentication":"privateKey","command":"=export PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:$PATH && export GH_TOKEN={{ $json.ghToken }} && echo $$ > /tmp/wormwood.lock && trap 'rm -f /tmp/wormwood.lock' EXIT && CLAUDE_CODE_OAUTH_TOKEN={{ $json.claudeToken }} /Users/mike/.local/bin/claude -p --agent dev-pipeline:miss-wormwood --model haiku --dangerously-skip-permissions --no-session-persistence 'Process items for triage: {{ $json.payload }}'","cwd":"/Users/mike"},"credentials":{"sshPrivateKey":{"id":"local-ssh","name":"Local SSH"}}},{"id":"4768a59b-5aa2-4482-b7d1-c3bf650d31e5","name":"Gate: Tracer","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const data = $input.first().json.data;\nif (!data || !data.items) return [];\nvar tracer = data.items.filter(function(i) { return i.status === 'In Review'; });\nif (tracer.length === 0) return [];\nreturn [{ json: {\n  payload: JSON.stringify({ items: tracer, project_fields: data.project_fields }),\n  claudeToken: $env.CLAUDE_CODE_OAUTH_TOKEN || '',\n  ghToken: $env.GH_TOKEN || ''\n} }];"}},{"id":"28331c61-b88f-4d01-bc72-a5307886b376","name":"Check Tracer Lock","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[680,300],"parameters":{"resource":"command","operation":"execute","authentication":"privateKey","command":"test -f /tmp/tracer.lock && kill -0 $(cat /tmp/tracer.lock) 2>/dev/null && echo busy || echo free","cwd":"/tmp"},"credentials":{"sshPrivateKey":{"id":"local-ssh","name":"Local SSH"}}},{"id":"25fb39a8-75f4-48f1-867b-d83e134e7017","name":"Gate: Tracer Free?","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var stdout = $input.first().json.stdout;\nif (stdout && stdout.trim() === 'busy') return [];\nvar gate = $('Gate: Tracer').first().json;\nreturn [{ json: gate }];"}},{"id":"5df45799-a334-4668-8802-4378991192f0","name":"Dispatch Tracer (Sonnet)","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1120,300],"parameters":{"resource":"command","operation":"execute","authentication":"privateKey","command":"=export PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:$PATH && export GH_TOKEN={{ $json.ghToken }} && echo $$ > /tmp/tracer.lock && trap 'rm -f /tmp/tracer.lock' EXIT && CLAUDE_CODE_OAUTH_TOKEN={{ $json.claudeToken }} /Users/mike/.local/bin/claude -p --agent dev-pipeline:tracer-bullet --model sonnet --dangerously-skip-permissions --no-session-persistence 'Review items: {{ $json.payload }}'","cwd":"/Users/mike"},"credentials":{"sshPrivateKey":{"id":"local-ssh","name":"Local SSH"}}},{"id":"10ed8cd5-7bd2-4868-a136-c205f400975b","name":"Gate: Moe","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,500],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const data = $input.first().json.data;\nif (!data || !data.items) return [];\nvar actionable = data.items.filter(function(i) { return i.status === 'In Progress' || i.status === 'Ready'; });\nif (actionable.length === 0) return [];\nactionable.sort(function(a, b) {\n  if (a.status === 'In Progress' && b.status !== 'In Progress') return -1;\n  if (b.status === 'In Progress' && a.status !== 'In Progress') return 1;\n  return 0;\n});\nreturn [{ json: {\n  payload: JSON.stringify({ item: actionable[0], project_fields: data.project_fields }),\n  claudeToken: $env.CLAUDE_CODE_OAUTH_TOKEN || '',\n  ghToken: $env.GH_TOKEN || ''\n} }];"}},{"id":"84855114-8237-47ca-82ce-c61f1f19fb80","name":"Check Moe Lock","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[680,500],"parameters":{"resource":"command","operation":"execute","authentication":"privateKey","command":"test -f /tmp/moe.lock && kill -0 $(cat /tmp/moe.lock) 2>/dev/null && echo busy || echo free","cwd":"/tmp"},"credentials":{"sshPrivateKey":{"id":"local-ssh","name":"Local SSH"}}},{"id":"ecb11823-902c-4bb8-924f-5cf214cdf838","name":"Gate: Moe Free?","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,500],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"var stdout = $input.first().json.stdout;\nif (stdout && stdout.trim() === 'busy') return [];\nvar gate = $('Gate: Moe').first().json;\nreturn [{ json: gate }];"}},{"id":"1e961d63-7bb6-4c51-b148-4d005b2686a9","name":"Dispatch Moe (Opus)","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1120,500],"parameters":{"resource":"command","operation":"execute","authentication":"privateKey","command":"=export PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:$PATH && export GH_TOKEN={{ $json.ghToken }} && echo $$ > /tmp/moe.lock && trap 'rm -f /tmp/moe.lock' EXIT && CLAUDE_CODE_OAUTH_TOKEN={{ $json.claudeToken }} /Users/mike/.local/bin/claude -p --agent dev-pipeline:moe --model opus --dangerously-skip-permissions --no-session-persistence --max-budget-usd 5.00 'Process work item: {{ $json.payload }}'","cwd":"/Users/mike"},"credentials":{"sshPrivateKey":{"id":"local-ssh","name":"Local SSH"}}}],"connections":{"Every 15 min":{"main":[[{"node":"Poll Calvinball","type":"main","index":0}]]},"Poll Calvinball":{"main":[[{"node":"Gate: Wormwood","type":"main","index":0},{"node":"Gate: Tracer","type":"main","index":0},{"node":"Gate: Moe","type":"main","index":0}]]},"Gate: Wormwood":{"main":[[{"node":"Check Wormwood Lock","type":"main","index":0}]]},"Check Wormwood Lock":{"main":[[{"node":"Gate: Wormwood Free?","type":"main","index":0}]]},"Gate: Wormwood Free?":{"main":[[{"node":"Dispatch Wormwood (Haiku)","type":"main","index":0}]]},"Gate: Tracer":{"main":[[{"node":"Check Tracer Lock","type":"main","index":0}]]},"Check Tracer Lock":{"main":[[{"node":"Gate: Tracer Free?","type":"main","index":0}]]},"Gate: Tracer Free?":{"main":[[{"node":"Dispatch Tracer (Sonnet)","type":"main","index":0}]]},"Gate: Moe":{"main":[[{"node":"Check Moe Lock","type":"main","index":0}]]},"Check Moe Lock":{"main":[[{"node":"Gate: Moe Free?","type":"main","index":0}]]},"Gate: Moe Free?":{"main":[[{"node":"Dispatch Moe (Opus)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"binaryMode":"separate"},"staticData":null,"meta":{"aiBuilderAssisted":true},"pinData":{},"versionId":"1e42e31d-46b6-4d12-8034-070504345bcc","activeVersionId":null,"versionCounter":35,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-10T19:16:48.802Z","createdAt":"2026-04-10T19:16:48.802Z","role":"workflow:owner","workflowId":"qXakRzjHnp1P28X5","projectId":"IzgEBRI4jnGxNTzz","project":{"updatedAt":"2026-04-10T18:31:47.192Z","createdAt":"2026-04-10T18:06:11.889Z","id":"IzgEBRI4jnGxNTzz","name":"Mike Bronner <mike.bronner@icloud.com>","type":"personal","icon":null,"description":null,"creatorId":"b14425e8-f850-4de5-ac11-f51eac5452dc"}}],"versionMetadata":{"name":null,"description":null}}]